Problem Statement (Instructor Asheesh Deep suggested to submit this assignment for Project 2)

Use logistic regression to predict student performance (final year grade) in secondary education (high school) by using student-mat csv data file provided by instructor Asheesh Deep
 - if G3>12 (60% of marks), predict it as 1 (pass)
 - if G3<12 (60% of marks), predict it as 0 (fail)

Data Set Information:

This data approach student achievement in secondary education of 2 Portuguese schools. The data attributes include student grades, demographic, social and school related features) and it was collected by using school reports and questionnaires. Dataset is provided regarding the performance in subject: Mathematics (mat). The target attribute is final year grade (G3)

Attribute Information:

# Attributes for student-mat.csv (Math course) dataset: 
1 school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira);  
2 sex - student's sex (binary: 'F' - female or 'M' - male);  
3 age - student's age (numeric: from 15 to 22);  
4 address - student's home address type (binary: 'U' - urban or 'R' - rural);  
5 famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3);  
6 Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart);  
7 Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education);  
8 Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary education or 4 â€“ higher education);  
9 Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other');  
10 Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other');  
11 reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other');  
12 guardian - student's guardian (nominal: 'mother', 'father' or 'other');  
13 traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour);  
14 studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours);  
15 failures - number of past class failures (numeric: n if 1<=n<3, else 4); 
16 schoolsup - extra educational support (binary: yes or no);  
17 famsup - family educational support (binary: yes or no);  
18 paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no);  
19 activities - extra-curricular activities (binary: yes or no);  
20 nursery - attended nursery school (binary: yes or no);  
21 higher - wants to take higher education (binary: yes or no);  
22 internet - Internet access at home (binary: yes or no);  
23 romantic - with a romantic relationship (binary: yes or no);  
24 famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent);  
25 freetime - free time after school (numeric: from 1 - very low to 5 - very high);  
26 goout - going out with friends (numeric: from 1 - very low to 5 - very high);  
27 Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high);  
28 Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high);  
29 health - current health status (numeric: from 1 - very bad to 5 - very good);  
30 absences - number of school absences (numeric: from 0 to 93);  

# these grades are related with the course subject, Math: 
31 G1 - first period grade (numeric: from 0 to 20);  
32 G2 - second period grade (numeric: from 0 to 20);  
33 G3 - final grade (numeric: from 0 to 20, output target);

In [1]:
#import libraries
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [2]:
#loading data
df = pd.read_csv("student_mat.csv")

In [3]:
df.head(10)

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,"""F""",18,"""U""","""GT3""","""A""",4,4,"""at_home""",...,4,3,4,1,1,3,6,"""5""","""6""",6
1,1,GP,"""F""",17,"""U""","""GT3""","""T""",1,1,"""at_home""",...,5,3,3,1,1,3,4,"""5""","""5""",6
2,2,GP,"""F""",15,"""U""","""LE3""","""T""",1,1,"""at_home""",...,4,3,2,2,3,3,10,"""7""","""8""",10
3,3,GP,"""F""",15,"""U""","""GT3""","""T""",4,2,"""health""",...,3,2,2,1,1,5,2,"""15""","""14""",15
4,4,GP,"""F""",16,"""U""","""GT3""","""T""",3,3,"""other""",...,4,3,2,1,2,5,4,"""6""","""10""",10
5,5,GP,"""M""",16,"""U""","""LE3""","""T""",4,3,"""services""",...,5,4,2,1,2,5,10,"""15""","""15""",15
6,6,GP,"""M""",16,"""U""","""LE3""","""T""",2,2,"""other""",...,4,4,4,1,1,3,0,"""12""","""12""",11
7,7,GP,"""F""",17,"""U""","""GT3""","""A""",4,4,"""other""",...,4,1,4,1,1,1,6,"""6""","""5""",6
8,8,GP,"""M""",15,"""U""","""LE3""","""A""",3,2,"""services""",...,4,2,2,1,1,1,0,"""16""","""18""",19
9,9,GP,"""M""",15,"""U""","""GT3""","""T""",3,4,"""other""",...,5,5,1,1,1,5,0,"""14""","""15""",15

In [24]:
#preparing data
# setting up passing score as 12 (60%)
def result(score):
    new=[]
    for i in score:
        if (i<12):
            i=0     #Student fails
        else:
            i=1     #student passes
        new.append(i)
    return new
df['G3']=result(df['G3'])

In [25]:
df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,pass
0,0,GP,"""F""",18,"""U""","""GT3""","""A""",4,4,"""at_home""",...,3,4,1,1,3,6,"""5""","""6""",0,0
1,1,GP,"""F""",17,"""U""","""GT3""","""T""",1,1,"""at_home""",...,3,3,1,1,3,4,"""5""","""5""",0,0
2,2,GP,"""F""",15,"""U""","""LE3""","""T""",1,1,"""at_home""",...,3,2,2,3,3,10,"""7""","""8""",0,0
3,3,GP,"""F""",15,"""U""","""GT3""","""T""",4,2,"""health""",...,2,2,1,1,5,2,"""15""","""14""",0,1
4,4,GP,"""F""",16,"""U""","""GT3""","""T""",3,3,"""other""",...,3,2,1,2,5,4,"""6""","""10""",0,0

In [5]:
# clean data set with nan, infinity & missing values
df.isnull().any()

Unnamed: 0    False
school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
pass          False
dtype: bool

In [6]:
#check data columns which are object type (non-integer values)
for col in df.columns:
    unique_cat = len(df[col].unique())
    print("{col}--> {unique_cat}..{typ}".format(col=col, unique_cat=unique_cat, typ=df[col].dtype))

Unnamed: 0--> 395..int64
school--> 2..object
sex--> 2..object
age--> 8..int64
address--> 2..object
famsize--> 2..object
Pstatus--> 2..object
Medu--> 5..int64
Fedu--> 5..int64
Mjob--> 5..object
Fjob--> 5..object
reason--> 4..object
guardian--> 3..object
traveltime--> 4..int64
studytime--> 4..int64
failures--> 4..int64
schoolsup--> 2..object
famsup--> 2..object
paid--> 2..object
activities--> 2..object
nursery--> 2..object
higher--> 2..object
internet--> 2..object
romantic--> 2..object
famrel--> 5..int64
freetime--> 5..int64
goout--> 5..int64
Dalc--> 5..int64
Walc--> 5..int64
health--> 5..int64
absences--> 34..int64
G1--> 17..object
G2--> 17..object
G3--> 18..int64
pass--> 2..int32

In [7]:
#we can see 19 features have the type 'object'. we can perform one hot encoding on these 19 features

dummy_df = pd.get_dummies(df, columns=['school', 'sex', 'address','famsize','Pstatus','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','Mjob','Fjob','reason','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic','G1','G2'])
dummy_df.head(10)

,Unnamed: 0,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,...,"G2_""16""","G2_""17""","G2_""18""","G2_""19""","G2_""4""","G2_""5""","G2_""6""","G2_""7""","G2_""8""","G2_""9"""
0,0,18,4,4,2,2,0,4,3,4,...,0,0,0,0,0,0,1,0,0,0
1,1,17,1,1,1,2,0,5,3,3,...,0,0,0,0,0,1,0,0,0,0
2,2,15,1,1,1,2,3,4,3,2,...,0,0,0,0,0,0,0,0,1,0
3,3,15,4,2,1,3,0,3,2,2,...,0,0,0,0,0,0,0,0,0,0
4,4,16,3,3,1,2,0,4,3,2,...,0,0,0,0,0,0,0,0,0,0
5,5,16,4,3,1,2,0,5,4,2,...,0,0,0,0,0,0,0,0,0,0
6,6,16,2,2,1,2,0,4,4,4,...,0,0,0,0,0,0,0,0,0,0
7,7,17,4,4,2,2,0,4,1,4,...,0,0,0,0,0,1,0,0,0,0
8,8,15,3,2,1,2,0,4,2,2,...,0,0,1,0,0,0,0,0,0,0
9,9,15,3,4,1,2,0,5,5,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# create dataframes with an intercept column 
y, X = dmatrices('G3 ~ school+sex+age+address+famsize+Pstatus+Medu+Fedu+Mjob+Fjob+reason+guardian+traveltime+studytime+failures+schoolsup+famsup+paid+activities+nursery+higher+internet+romantic+famrel+freetime+goout+Dalc+Walc+health+absences+G1+G2',
df, return_type="dataframe")
X.columns

Index(['Intercept', 'school[T.MS]', 'sex[T."M"]', 'address[T."U"]',
       'famsize[T."LE3"]', 'Pstatus[T."T"]', 'Mjob[T."health"]',
       'Mjob[T."other"]', 'Mjob[T."services"]', 'Mjob[T."teacher"]',
       'Fjob[T."health"]', 'Fjob[T."other"]', 'Fjob[T."services"]',
       'Fjob[T."teacher"]', 'reason[T."home"]', 'reason[T."other"]',
       'reason[T."reputation"]', 'guardian[T."mother"]', 'guardian[T."other"]',
       'schoolsup[T."yes"]', 'famsup[T."yes"]', 'paid[T."yes"]',
       'activities[T."yes"]', 'nursery[T."yes"]', 'higher[T."yes"]',
       'internet[T."yes"]', 'romantic[T."yes"]', 'G1[T."11"]', 'G1[T."12"]',
       'G1[T."13"]', 'G1[T."14"]', 'G1[T."15"]', 'G1[T."16"]', 'G1[T."17"]',
       'G1[T."18"]', 'G1[T."19"]', 'G1[T."3"]', 'G1[T."4"]', 'G1[T."5"]',
       'G1[T."6"]', 'G1[T."7"]', 'G1[T."8"]', 'G1[T."9"]', 'G2[T."10"]',
       'G2[T."11"]', 'G2[T."12"]', 'G2[T."13"]', 'G2[T."14"]', 'G2[T."15"]',
       'G2[T."16"]', 'G2[T."17"]', 'G2[T."18"]', 'G2[T."19"]', 'G2[T."4"]',
       'G2[T."5"]', 'G2[T."6"]', 'G2[T."7"]', 'G2[T."8"]', 'G2[T."9"]', 'age',
       'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences'],
      dtype='object')

In [9]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()
model = model.fit(X, y)

# check the accuracy on the training set
model.score(X, y)

C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.8025316455696202

In [10]:
# examining the coefficients
X.columns, np.transpose(model.coef_)

(Index(['Intercept', 'school[T.MS]', 'sex[T."M"]', 'address[T."U"]',
        'famsize[T."LE3"]', 'Pstatus[T."T"]', 'Mjob[T."health"]',
        'Mjob[T."other"]', 'Mjob[T."services"]', 'Mjob[T."teacher"]',
        'Fjob[T."health"]', 'Fjob[T."other"]', 'Fjob[T."services"]',
        'Fjob[T."teacher"]', 'reason[T."home"]', 'reason[T."other"]',
        'reason[T."reputation"]', 'guardian[T."mother"]', 'guardian[T."other"]',
        'schoolsup[T."yes"]', 'famsup[T."yes"]', 'paid[T."yes"]',
        'activities[T."yes"]', 'nursery[T."yes"]', 'higher[T."yes"]',
        'internet[T."yes"]', 'romantic[T."yes"]', 'G1[T."11"]', 'G1[T."12"]',
        'G1[T."13"]', 'G1[T."14"]', 'G1[T."15"]', 'G1[T."16"]', 'G1[T."17"]',
        'G1[T."18"]', 'G1[T."19"]', 'G1[T."3"]', 'G1[T."4"]', 'G1[T."5"]',
        'G1[T."6"]', 'G1[T."7"]', 'G1[T."8"]', 'G1[T."9"]', 'G2[T."10"]',
        'G2[T."11"]', 'G2[T."12"]', 'G2[T."13"]', 'G2[T."14"]', 'G2[T."15"]',
        'G2[T."16"]', 'G2[T."17"]', 'G2[T."18"]', 'G2[T."19"]', 'G2[T."4"]',
        'G2[T."5"]', 'G2[T."6"]', 'G2[T."7"]', 'G2[T."8"]', 'G2[T."9"]', 'age',
        'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
        'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences'],
       dtype='object'),
 array([[-0.20201093, -0.04256345, -0.02562933, ..., -0.06309703,
         -0.02836935, -0.01780966],
        [-0.72900775, -0.03712845,  0.34407582, ..., -0.28493749,
          0.26246961, -0.02501547],
        [-0.01685669, -0.17623493, -0.09268827, ...,  0.05832245,
          0.03877534,  0.31530544],
        ...,
        [-0.46167411,  0.28659559,  0.14540043, ..., -0.12263778,
         -0.52310069, -0.32180809],
        [-0.37227345, -0.6290828 ,  0.0827645 , ..., -0.01996101,
         -0.60369422, -0.44730922],
        [-2.02791386,  0.09358082,  0.06836428, ...,  0.03497014,
         -0.01987234, -0.00590508]]))

In [11]:
#So far, we have trained and tested on the same set. Now we'll evaluate model using a validation set by splitting the data into a training set and a testing set.
# evaluate the model by splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2.fit(X_train, y_train)

C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\chandra.x.shekhar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [12]:
# predicting class labels for the test set
predicted = model2.predict(X_test)
predicted

array([14., 11., 11., 16., 15., 11., 11., 11.,  9., 16., 10., 11., 10.,
        8., 16., 15., 13., 11.,  9., 15.,  0.,  0.,  0., 15., 14., 16.,
       10., 16., 11., 14.,  0.,  7.,  9.,  5., 14.,  9., 13., 11., 10.,
       12.,  6., 14.,  9.,  9., 11.,  0., 11.,  0., 12.,  0., 10., 15.,
       10.,  8., 12.,  9., 10., 13., 15.,  0., 13., 14., 13., 15.,  9.,
       15., 10., 12.,  6., 10., 10., 14.,  8.,  0.,  8.,  9., 11.,  0.,
        0., 10., 10.,  9., 10., 13., 10., 11., 11., 15., 18.,  0.,  9.,
        0.,  0.,  0.,  0., 10.,  6., 11., 13., 10., 10., 13.,  0.,  0.,
       10., 14., 15.,  0.,  8.,  0.,  8., 11., 15.,  6.,  0., 10.,  9.,
        0., 10.])

In [14]:
# check the accuracy on the testing set
model.score(X_test, y_test)

0.8319327731092437

Model accuracy has improved from ~80.2% to ~83.1%